
:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
}

@font-face {
    font-family: calfineregular;
    src: url(calfineregular-4b6nd-webfont.woff2) format(woff2),
         url(calfineregular-4b6nd-webfont.woff) format(woff);
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: calfinregular, Arial, sans-serif; 
    margin: 0;
    background: radial-gradient(#FF69B4,white);
}

*{
    box-sizing: border-box;
}

html{
    min-height: 100vh;
}

/* NAV BAR */

nav{
    font-weight: bold;
    font-size: large;
    
}

.startGamebtn{
    font-family: 'Prompt', sans-serif;
    font-size: 28px;
    display: inline-block;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.01em thin;
    background-color: transparent;
    border: none;
    border-radius: 0.45em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.75em var(--clr-neon);
    display: flex; 

}


h2{
    /* font-size: 4rem; */
    font-family: 'Prompt', sans-serif;
    filter: drop-shadow(10px 5px 4px #FF69B4);
    font-size: 28px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    /* color: var(--clr-neon); */
    color: white;
    border: var(--clr-neon) 0.01em thin;
    padding: 0.15em .5em;
    border-radius: 0.45em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-neon);
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    position: relative;
}


/* BODY */

h1{
    font-family: 'calfinregular', Arial, sans-serif; 
    /* background-image: url('heart-pink-unscreen.gif');
    background-repeat:repeat;  */
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-neon) ;
    /* text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor; */
    font-size: 84px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.MatchBoxLogo{
    width: 600px;
    filter: drop-shadow(10px 5px 4px #FF69B4);
}
  
.rowUnderTitle{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-evenly;

}

.matchGif{
    height: 100px;
    -webkit-filter: invert(1);
    filter: invert(100%);
}

.cards{
    display: grid;
    grid-template-columns: repeat(8,auto);
    grid-gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 40px;
    flex-wrap: wrap;
    perspective: 1000px;
}

/* used to be .card */

.front,.back{
    position: absolute;
    backface-visibility: hidden;
    filter: drop-shadow(10px 5px 4px #FF69B4);

}

.front{
    height: 210px;
    width: 130px;
    border-radius: .35em;
    transform: rotateY(180deg);
    margin-bottom: 10px;
    /* position: relative; */
}

.back{
    height: 210px;
    width: 130px;
    border-radius: .45em;
    position: relative;
    margin-bottom: 10px;

    /* position: absolute; */
}


.match-box-card{
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    
}

.match-box-card:active {
    /* transform: scale(0.97); */
    transition: transform .2s;
}

.match-box-card.flip {
    transform:rotateY(-180deg) ;
}

@media (max-width: 480px){
    h1{
        font-size: 32px;
    }
    .matchGif{
        display: none;
    }
    h2{
        font-size: 16px;
        justify-content:space-evenly;
    }

    .cards{
        grid-template-columns: repeat(4,auto);
        margin: 12px;
    }
    .front,.back{
        height: 120px;
        width: 80px;
    }
    html{
        min-height: 50vh;

    }
}
