:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
}


body{
    font-family: 'Cormorant', serif;
    margin: 0;
    background: radial-gradient(#FF69B4,white);
}

*{
    box-sizing: border-box;
}

html{
    min-height: 100vh;
}

/* NAV BAR */

nav{
    font-weight: bold;
    font-size: large;
    
}

h2{
    /* font-size: 4rem; */
    font-size: 32px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    /* color: var(--clr-neon); */
    color: white;
    border: var(--clr-neon) 0.01em thin;
    padding: 0.15em .5em;
    border-radius: 0.45em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-neon);
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    position: relative;
}
/* BODY */

h1{
    /* background-image: url('heart-pink-unscreen.gif');
    background-repeat:repeat;  */
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-neon);
    /* text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor; */
    font-size: 84px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.rowUnderTitle{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-evenly;

}

.matchGif{
    height: 100px;
    -webkit-filter: invert(1);
    filter: invert(100%);
}

.cards{
    display: grid;
    grid-template-columns: repeat(8,auto);
    grid-gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 70px;
    flex-wrap: wrap;
    perspective: 1000px;
}

/* used to be .card */

.front,.back{
    position: absolute;
    backface-visibility: hidden;
}

.front{
    height: 260px;
    width: 180px;
    border-radius: .35em;
    transform: rotateY(180deg);
    /* position: relative; */
}

.back{
    height: 260px;
    width: 180px;
    border-radius: .45em;
    position: relative;
    /* position: absolute; */
}


.match-box-card{
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    
}

.match-box-card:active {
    /* transform: scale(0.97); */
    transition: transform .2s;
}

.match-box-card.flip {
    transform:rotateY(-180deg) ;
}